@import "tailwindcss";

html, body{
  @apply bg-white/80 text-black dark:bg-neutral-950 dark:text-white;
  scroll-behavior: smooth;
}

.dark html {
  background-color: #0a0a0a;
  color: white;
}


@custom-variant dark (&:where(.dark, .dark *));

